<h1>Word#score</h1>
<p>Find me in app/views/word/score.html.erb</p>

<p><%= @try %></p>

<p>Your Score:</p>

<ul>
  <li><%= @final[:message] %></li>
  <li><%= @final[:score] %></li>
  <li><%= @final[:translation] %></li>
  <li><%= @final[:time] %></li>
</ul>
